/*.background {
  background: url(background.png);
}
.logo {
  background-image: url(logo.png);
}*/
.progressBar {
  left: 50;
}
/*
.splash {
  background-image: url(splash.png);
}
.watermark {
  background-image: url(watermark.png);
  background-size: 57px 57px;
}*/